body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(10, 10, 10);
}
.box{
    width: 200px;
    height: 200px;
    background-color: rgb(23, 80, 145);
    text-align: center;
    font-size: 50px;
    padding: 10px;
    transition: transform .75s linear;
}
#box1:hover{
    /* transform: rotate(-90deg); */
    transform: rotate(-0.25turn);
    /* transform-origin: 10vw 20vh; */
    transform-origin: left bottom;

}
#box2:hover{
    transform:scale(0.5);
    transform-origin: top right;

}
#box3:hover{
          /* (x direction, y direction) */
    transform: skew(24deg,15deg);

}
#box4:hover{
               /* (x direction, y direction) */
    transform: translate(-90px, -300px);

}
#box5:hover{
    transform: scale(0.5) translate(-100%, -100%);

}